<section class="login">
  <%= render "shared/header" %>

  <h2 class="login__title"> Recuperar senha </h2>

  <div class="login__form">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <%= render "shared/password", form: f %>

      <%= render "users/shared/links" %>
    <% end %>
  </div>
</section>
