<div class="row">
  <div class="input-field col s12">
    <%= form.label :first_name %>
    <%= form.text_field :first_name%>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <%= form.label :last_name %>
    <%= form.text_field :last_name%>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <%= form.label :occupation %>
    <%= form.text_field :occupation%>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <%= form.label :phone %>
    <%= form.text_field :phone%>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <%= form.text_field :birth_date, class: "datepicker" %>
    <%= form.label :birth_date %>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <%= form.select :gender, [["Masculino", :male], ["Feminino", :female], ["Outros", :other]] %>
    <%= form.label :gender %>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <%= form.label :height %>
    <%= form.text_field :height%>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <%= form.label :weight %>
    <%= form.text_field :weight%>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <%= form.label :physical_activities %>
    <%= form.text_area :physical_activities, class: "materialize-textarea"%>
  </div>
</div>

<div class="row">
  <div class="field col s12 text-align-left">
    <%= form.check_box :smoke, class: "filled-in"%>
    <%= form.label :smoke %>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <%= form.label :smoke_frequency %>
    <%= form.text_field :smoke_frequency%>
  </div>
</div>


<div class="row">
  <div class="field col s12 text-align-left">
    <%= form.check_box :drink, class: "filled-in"%>
    <%= form.label :drink %>
  </div>
</div>


<div class="row">
  <div class="input-field col s12">
    <%= form.label :drink_frequency %>
    <%= form.text_field :drink_frequency%>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <%= form.label :family_diseases %>
    <%= form.text_area :family_diseases, class: "materialize-textarea"%>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <%= form.label :medicines %>
    <%= form.text_area :medicines, class: "materialize-textarea"%>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <%= form.label :daily_water_quantity %>
    <%= form.text_field :daily_water_quantity%>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <%= form.label :favorite_dishes %>
    <%= form.text_area :favorite_dishes, class: "materialize-textarea"%>
  </div>
</div>

<div class="row">
  <div class="input-field col s12">
    <%= form.label :disliked_dishes %>
    <%= form.text_area :disliked_dishes, class: "materialize-textarea"%>
  </div>
</div>

<div class="row">
  <div class="field col s12">
    <%= form.select :chew, [["Devagar", :slow], ["Média", :medium], ["Rápida", :fast]] %>
    <%= form.label :chew %>
  </div>
</div>
