<section class="login">
  <%= render "shared/header" %>

  <h2 class="login__title">Crie sua conta</h2>

  <div class="login__form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div class="row">
        <div class="input-field col s12">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.label :password %>

          <% if @minimum_password_length %>
            <em>(minímo de <%= @minimum_password_length %> dígitos)</em>
          <% end %>

          <%= f.password_field :password, autocomplete: "off" %>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s12">
          <%= f.label :password_confirmation %>
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
      </div>

      <%= render('anamnesis', form: f) %>

      <div class="waves-effect waves-light btn">
        <%= f.submit "Sign up" %>
      </div>
    <% end %>

    <div class="login__links">
      <%= render "users/shared/links" %>
    </div>
  </div>
</section>
